{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2099235.2824166366!2d-106.7744182121336!3d38.9807314135043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874014749b1856b7%3A0xc75483314990a7ff!2sColorado!5e1!3m2!1sen!2sus!4v1474954500560" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
      <div class="col-md-6">
        <div class="dropdown col-md-6">
          <select class="form-control dropdown" name="river-basin">
            <option>Select a River Basin</option>
            {% for river in rivers %}
            <option>{{river.river}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="drop-down col-md-6">
          <select class="form-control dropdown" name="river-site" id="site-dropdown">
            <option>Select a Site</option>
            {% for site in sites %}
            <option>{{site.site}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="clear-btn">
        <button type="button" name="button" class="btn btn-primary" id="clear-btn">Clear Dataset</button>
      </div>
      <div class="update-db-btn">
        <button type="button" name="button" class="btn btn-secondary" id="update-db-btn">Update Dataset</button>
      </div>
  </div>
</div>

</html>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/homepage.js"></script>
{% endblock %}
