{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/index.css" media="screen">
{% endblock %}

{% block content %}

    <div class="col-md-6 map geo" data-lat="39.138440" data-lon="39.138440, -105.761457" id="map-index"></div>

    <div class="col-md-6">
      <div class="dropdown col-md-6">
        <select class="form-control dropdown" name="river-basin">
          <option>Select a River Basin</option>
          {% for river in rivers %}
          <option>{{river.river}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-6 text-right">
        <button type="button" name="button" class="btn btn-secondary" id="update-db-btn">Update Dataset</button>
        <button type="button" name="button" class="btn btn-primary" id="clear-btn">Clear Dataset</button>
      </div>
      <div class="drop-down col-md-12">
        <select multiple size="18" class="form-control dropdown site-dropdown" name="river-site" id="site-dropdown">
          <option>Select a Site</option>
          {% for site in sites %}
          <option value="{{ site.id }}">{{site.site}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="data-stations" data-stations="{{stationsExport}}"></div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/homepage.js"></script>
{% endblock %}
