{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/landing.css" media="screen" title="no title">
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row landing">
    <div class="col-md-6">
      <h1 class="header-title">Anglers</h1>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success btn-lg sign-in" data-toggle="modal" data-target=".login">Login / Sign Up</button>

      <div class="modal fade login" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Login / Sign Up</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                  <label for="userpassword">Password</label>
                  <input type="password" class="form-control" id="userpassword" name="password">
                </div>
                <div class="row text-center button-row">
                  <button type="button" class="btn btn-success col-sm-4 col-sm-offset-1 login-button">Login</button>
                  <a href="/sign-up" class="btn btn-primary col-sm-4 col-sm-offset-1 signUp-button">Sign Up</a>
                </div>
                <div class="row text-center">
                  <a href="/homepage">View as guest</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
