{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/report-new.css">
{% endblock %}

{% block content %}

<div class="container">
  <form action="/reports/report-new" method="POST">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="col-md-12">
          <div class="col-md-6 form-group">
            <label for="start_time">Start: </label>
            <input type="datetime-local" class="form-control start_time" name="start_time">
          </div>
          <div class="col-md-6 form-group">
            <label for="end_time">End: </label>
            <input type="datetime-local" class="form-control end_time" name="end_time">
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-6 form-group">
            <label for="report_lat">Latitude:</label>
            <input type="text" class="form-control" name="report_lat" placeholder="39.249">
          </div>
          <div class="col-md-6 form-group">
            <label for="report_lon">Latitude:</label>
            <input type="text" class="form-control" name="report_lon" placeholder="-106.348">
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12 form-group">
            <label for="report_text">Please Share Your Fishing Report</label>
            <textarea class="form-control report_text" rows="12" name="report_text" name="report_text" placeholder="Fishing conditions, which flies worked well, etc."></textarea>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-6 col-md-offset-3">
            <button type="submit" name="report_submit_button" class="btn btn-success btn-block report_submit_button">Add New Report</button>
          </div>
        </div>

        <input type="hidden" name="id" value="{{ user.id }}">
      </div>
    </div>
  </form>
</div>

{% block scripts %}
<script type="text/javascript" src="/js/reports.js"></script>
{% endblock %}

{% endblock %}
