{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/sign-up.css" media="screen" title="no title">
{% endblock %}

{% block content %}

  <div class="container">
    <form class="col-md-6 col-md-offset-3 sign-up">
      <div class="row">
        <div class="from-group col-md-6">
          <label for="newFirst">First Name</label>
          <input type="text" class="form-control" id="newFirst" name="newFirst">
        </div>
        <div class="from-group col-md-6">
          <label for="newLast">Last Name</label>
          <input type="text" class="form-control" id="newLast" name="newLast">
        </div>
      </div>
      <div class="from-group">
        <label for="newEmail">Email Address</label>
        <input type="email" class="form-control" id="newEmail" name="newEmail">
      </div>
      <div class="row">
        <div class="from-group col-md-6">
          <label for="newUsername">Username</label>
          <input type="text" class="form-control" id="newUsername" name="newUsername">
        </div>
        <div class="from-group col-md-6">
          <label for="userURL">Photo URL</label>
          <input type="text" class="form-control" id="userURL" name="userURL">
        </div>
      </div>
      <div class="row">
        <div class="from-group col-md-6">
          <label for="newPassord">Select Password</label>
          <input type="text" class="form-control" id="newPassord" name="newPassord">
        </div>
        <div class="from-group col-md-6">
          <label for="verifyPassword">Re-enter Password</label>
          <input type="text" class="form-control" id="verifyPassword" name="verifyPassword">
        </div>
      </div>
      <hr>
      <a href="/index" class="btn btn-danger" name="cancel">Cancel</a>
      <button type="submit" class="btn btn-primary" name="submit">Submit</button>
    </form>
  </div>

{% endblock %}
