{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/sign-up.css" media="screen" title="no title">
{% endblock %}

{% block content %}

  <div class="container">
    <form class="col-md-6 col-md-offset-3 sign-up" action="/sign-up" method="POST" id="sign-up-form">
      <div class="row">
        <div class="from-group col-md-6">
          <label for="newFirst">First Name</label>
          <input type="text" class="form-control" id="newFirst" name="first_name">
        </div>
        <div class="from-group col-md-6">
          <label for="newLast">Last Name</label>
          <input type="text" class="form-control" id="newLast" name="last_name">
        </div>
      </div>
      <div class="from-group">
        <label for="newEmail">Email Address</label>
        <input type="email" class="form-control" id="newEmail" name="email">
      </div>
      <div class="row">
        <div class="from-group col-md-12">
          <label for="newUsername">Username</label>
          <input type="text" class="form-control" id="newUsername" name="username">
        </div>
      </div>
      <div class="row">
        <div class="from-group col-md-12">
          <label for="newPassord">Select Password</label>
          <input type="password" class="form-control" id="newPassord" name="password">
        </div>
      </div>
      <hr>
      <a href="/homepage" class="btn btn-danger">Cancel</a>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/validation.js"></script>
{% endblock %}
