{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/single-station.css">
{% endblock %}

{% block content %}

    <h1 class="text-center">{{ station.site_name }}</h1>
    <h6 class="text-center">Current Conditions: <span class="text-success">{{ weather.currently.summary }}</span></h6>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
        <h6 class="text-right min-max">
        <span class="text-primary">Min: {{ weather.daily.data[0].temperatureMin | round }}&deg; F</span>
      </h6>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8">
        <div class="progress">
          {% if weather.currently.temperature < 33 %}
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{weather.currently.temperature}}" aria-valuemin="-20" aria-valuemax="120" style="width:{{weather.currently.temperature}}%">Current: {{ weather.currently.temperature | round }}&deg; F</div>

          {% elif weather.currently.temperature >= 33 and weather.currently.temperature <= 60 %}
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{weather.currently.temperature}}" aria-valuemin="-20" aria-valuemax="120" style="width:{{weather.currently.temperature}}%">Current: {{ weather.currently.temperature | round }}&deg; F</div>

          {% elif weather.currently.temprature > 60 and weather.currently.temprature < 80 %}
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{weather.currently.temperature}}" aria-valuemin="-20" aria-valuemax="120" style="width:{{weather.currently.temperature}}%">Current: {{ weather.currently.temperature | round }}&deg; F</div>

          {% elif weather.currently.temperature >= 80 %}
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{weather.currently.temperature}}" aria-valuemin="-20" aria-valuemax="120" style="width:{{weather.currently.temperature}}%">Current: {{ weather.currently.temperature | round }}&deg; F</div>
          {% endif %}
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <h6 class="text-left min-max">
          <span class="text-danger">Max: {{ weather.daily.data[0].temperatureMax | round }}&deg; F</span>
        </h6>
      </div>
    </div>
    <div class="row">
      <h6 class="col-md-4 text-left">Todays Forecast: {{ weather.daily.data[0].summary }}</h6>
      <h6 class="col-md-4 text-center">Chance of Precipatation: {{ weather.daily.data[0].precipProbability | round }}&#37;</h6>
      <h6 class="col-md-4 text-right">Current Wind: Speed: {{ weather.daily.data[0].windSpeed }} mph/ Bearing: {{ weather.daily.data[0].windBearing }}&deg;</h6>
    </div>
    <hr>
    <div class="row">
      <h6 class="col-md-6 text-left">Flow Rate: {{ station.flow_rate }} cfs</h6>
      <h6 class="col-md-6 text-right">Recorded: {{ station.reading_date_time | date("MMM Do YYYY @ h:mm a") }}</h6>
    </div>
    <div class="row">
      <!-- Map -->
      <div class="col-md-12 map" id="map"></div>
      <!-- *** -->
    <div class="col-md-6 left_col">
      <div class="col-md-12">
        <h3 class="text-center geo" data-lat="{{station.lat}}" data-lon="{{station.lon}}" style="display: none">{{ reports[0].river }} Info</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="col-md-6">Total Reports: {{ reports | length }}</h3>
        <br>
        {% if user.id %}
        <a href="/reports/report-new" class="btn btn-primary col-md-6">Add Report</a>
        {% endif %}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        {% for report in reports %}
        <div class="col-md-4">
          <p>
            <strong>Name:</strong> {{ report.first_name }} {{ report.last_name | truncate(1, true, '.') }}
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <strong>Start:</strong> {{ report.start_time | date("DD/M/YY, h:mm a") }}
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <strong>End:</strong> {{report.end_time | date("DD/M/YY, h:mm a") }}
          </p>
        </div>
        <div class="col-md-12">
          <p>
            {{ report.report }}
          </p>
          {% if report.user_id === user.id %}
          <a href="#" class="btn btn-sm btn-info">Edit</a>
          <a href="#" class="btn btn-sm btn-danger">Delete</a>
          {% endif %}
          <hr>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

<div class="data-lat-lng" data-lat-lng="{{reportsExport}}"></div>
{% endblock %}
