html,
body {
  background: url(../media/landing.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}

.landing {
  position: static;
  margin-top: 55vh;
  width: 110vw;
  height: 12rem;
  background: rgba(0, 0, 0, 0.7);
}

.header-title {
  color: #fff;
  font-size: 7rem;
  margin-left: 20rem;
  font-family: 'Nothing You Could Do', cursive;
}

.sign-in {
  background: #6F6259;
  margin: 3.5rem 0 0 20rem;
  border: none;
  border-radius: 0;
}

.sign-in:hover,
.sign-in:focus {
  background: #CC5500;
  border: none;
}

.modal-content {
  border-radius: 0 !important;
  margin-top: 10rem;
}

.modal-header {
  background: #6F6259;
  color: #000;
}

.button-row {
  margin-left: 1rem;
}

.login-button,
.login-button:hover,
.login-button:focus {
  background: #CC9E61;
  border: none;
}

.signUp-button,
.signUp-button:hover,
.signUp-button:focus {
  background: #CC5500;
  border: none;
}
